<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;500;600;700&family=Poppins:ital,wght@0,300;0,700;1,600&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body style="margin: 0; font-family: 'League Spartan'">
    <table
      style="max-width: 793px; margin: 0 auto; border-spacing: 0"
      cellpadding="0"
      cellspacing="0"
    >
      <tr>
        <td
          style="opacity: 0.95; width: 100%; text-align: center"
          align="center"
        >
          <table style="width: 100%">
            <tr>
              <td>
                <span
                  style="
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 42px;
                    color: #000000;
                  "
                  >Resultado > 14.4</span
                >
              </td>
            </tr>
            <tr>
              <td>
                <span
                  style="
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    color: #000000;
                  "
                >
                  Portal com ótima transparência
                </span>
              </td>
            </tr>

            <tr>
              <td style="padding: 0.6rem">
                <table
                  style="
                    width: 100%;
                    border-spacing: 0;
                    background-color: #9fffa67a;
                  "
                >
                  <tr>
                    <td
                      style="
                        padding-right: 0.5rem;
                        padding-left: 0.5rem;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                      "
                    >
                      <span>Serviço de Informações ao Cidadão (SIC)</span>
                    </td>
                    <td
                      style="background-color: #eeee; width: 50px; height: 50px"
                    >
                      1.2
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="width: 50%; padding: 0.6rem">
                <table
                  style="
                    width: 100%;
                    border-spacing: 0;
                    background-color: #9fffa67a;
                  "
                >
                  <tr>
                    <td style="padding-right: 0.5rem; padding-left: 0.5rem">
                      <span>Dados abertos</span>
                    </td>
                    <td
                      style="background-color: #eeee; width: 50px; height: 50px"
                    >
                      1.2
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
